@model VetClinic.Models.AnimalViewModel

@{
    ViewData["Title"] = "Details";
    string backToListValue = !string.IsNullOrEmpty(Model.Name) && Model.Name.Length >=2?Model.Name[..2]:"a";
}

<h1>Details</h1>

<div>
    <h4>For animal</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Birthdate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Birthdate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Race)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Race)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-outline-warning" asp-action="Edit" asp-route-id="@Model?.Id" >Edit</a>
    <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@Model?.Id" >Delete</a>
    <a class="btn btn-outline-info" asp-controller="Customer" asp-action="Details" asp-route-id="@Model?.OwnerId" >View owner</a>
    <a class="btn btn-outline-primary" asp-action="Index" asp-route-searchString="@backToListValue">Back to List</a>
</div>
